.home-main {
    padding: 100px 0;
    background: #fafafa;
}
.img-box {
    padding-top: 50px;
}
.list-item li {
    list-style: none;
    line-height: 3em;
    font-size: 14px;
    color: rgb(112, 122, 138);
    display: flex;
    gap: 12px;
    cursor: pointer;
    align-items: center;
}
.list-item li:hover{
    color: #f3ba2f;
    
}
.list-sec {
    padding-top: 50px;
}

.crypto-table {
    padding: 50px 0;
}
.text-sec-crypto {
    display: flex;
}
.text-sec2 {
    margin-left: auto;
}

.trade-sec {
    padding: 50px 0;
}
.contact-sec {
    padding: 50px 0;
}
.footer-sec {
    background: #fafafa;
    padding: 50px 0;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .list-item li {        
        line-height: 2em;
        font-size: 12px;        
    }
    .home-main {
        padding: 50px 0;
        background: #fafafa;
        margin-top: 40px;
    }
    .mobile-section2 {
        display: block !important;
        /* column-gap: 30px; */
    }
    .img-mobile-sec img {
        width: 300px !important;
    }
    .qrCode-sec {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .brand-items {       
        padding: 10px !important;
        margin-bottom: 5px !important;        
    }
    .mobile-section2 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}
/* .icon-list li {
    color: rgb(112, 122, 138);
    font-size: 14px;
    line-height: 3.2em;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}
img.mobile-sc {
    width: 600px;
} */