.icon-box {
    display: flex;
}
.iconbox-items ul {
    display: inline-block;
    width: 20%;
    list-style: none;
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #0000001a;
}
.iconbox-items ul:hover {

    background-color: rgb(245, 245, 245);
    
}
.iconbox-items li {
    padding: 10px;
}
.icon-box svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    font-size: 34px;
    color: #f3ba2f;
}
li.disc-sm {
    font-size: 13px;
    line-height: 1.4em;
    color: rgb(71, 77, 87);
}
@media only screen and (max-width: 600px) { 
    .iconbox-items ul {
        display: block;
        width: 100%;
        margin-bottom: 10px !important;
        margin: 0;
        padding: 0;
    }
}