.main-sec {
    padding: 50px 0;
}
.trade-crypto-sec {
    padding: 50px 0;
}
.icon-sec {
    display: flex;
    gap: 30px;
    align-items: center;
    min-width: fit-content;
}
.icon-items {
        width: calc(33.333% - 33px);
        height: 100px;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 40px;
        padding-right: 40px;
        margin-right: 33px;
        font-size: 18px;
        line-height: 28px;
        background: #fafafa;
        border: 2px solid #e7e7e7;
        border-radius: 5px;
}

a {
        text-decoration: none;
}

.buySell-sec {
    display: flex;
    padding: 50px 0;
}

.buysell-text {
    padding-right: 100px;
}
.buysell-img img {
    width: 360px;
}

@media only screen and (max-width: 600px) {
    .icon-sec {
        display: block;       
        min-width: 200px;
    }
    .icon-items {
        width: 200px;
        margin: 15px;
        padding: 30px;
        margin-right: 0;
        text-align: center;
        font-size: 15px;
    }
    .buySell-sec {
        display: inline-block;
        padding: 30px 0;
    }
    .buysell-text {
        padding: 15px;
    }
    .buysell-img {
        text-align: center;
    }
    .buysell-img img {
        width: 250px;
        text-align: center;
    }
    .conv-text-sec {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7e7;
    }
    .conv-text-sec2 {
        display: block;
        
    }
 }