.cellWrapper {
    display: flex;
    align-items: center;
}

img.image {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
img.coin-img {
    width: 32px;
    height: 32px;
}
.status {
    padding: 5px;
    border-radius: 5px;

}
.status.Approved {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}
.status.Pending {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}

tr.MuiTableRow-root.css-x1nyzt-MuiTableRow-root:hover {
    background-color: #80808026 !important;
    cursor: pointer !important;
}