.cryp-conv-sec {
    background: #fafafa;
    text-align: center;
    padding: 50px 0;
}
.conv-text-sec {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
}
.conv-text-sec2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    width: fit-content;
}